<div class="example-viewer">
    <div class="docs-example-viewer-wrapper">
      <div class="docs-example-viewer-title">
        <div class="docs-example-viewer-title-spacer">
          Rides Search
        </div>
      </div>
      <div class="docs-example-viewer-source">
          
          <form class="art-pad30">
              <mat-grid-list cols="5" rowHeight="100px">
                  <mat-grid-tile>
                      <mat-form-field style="width:90%;">
                          <input matInput placeholder="Ride ID" [(ngModel)]="searchParams.rideId" [ngModelOptions]="{standalone: true}" value="">
                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-form-field style="width:90%;">
                          <input matInput placeholder="Source" [(ngModel)]="searchParams.src" [ngModelOptions]="{standalone: true}" value="">
                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-form-field style="width:90%;">
                          <input matInput placeholder="Destination" [(ngModel)]="searchParams.dstn" [ngModelOptions]="{standalone: true}" value="">
                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-form-field style="width:90%;">
                          <input matInput [matDatepicker]="picker" placeholder="Booked Date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field style="width:90%;">
                      <mat-label>Status</mat-label>
                      <select matNativeControl required>
                        <option label=""></option>
                        <option value="saab">Completed</option>
                        <option value="mercedes">Cancelled</option>
                      </select>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>  
                <button mat-stroked-button color="primary" (click)="invoiceSearch(searchParams)">Search</button>            
            </form>
      </div>
    </div>
</div>
<div class="example-viewer">
    <div class="docs-example-viewer-wrapper">
      <div class="docs-example-viewer-title">
        <div class="docs-example-viewer-title-spacer">
          All Rides Grid
        </div>
      </div>
      <div class="docs-example-viewer-source">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            
              <!-- Invoice Number Column -->
              <ng-container matColumnDef="rideId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ride Number </th>
                  <td mat-cell *matCellDef="let element"><a (click)="viewSignedInvoice(element.invoiceNumber)"></a> {{element.invoiceNumber}} </td>
                </ng-container>
                          
              <!-- Amount Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source </th>
                <td mat-cell *matCellDef="let element"> {{element.source}} </td>
              </ng-container>
            
              <!-- Seller ID Column -->
              <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
              </ng-container>
            
              <!-- Banker ID Column -->
              <ng-container matColumnDef="distance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
              </ng-container>

              <!-- Created Date Column -->
              <ng-container matColumnDef="booked_on">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Booked Date </th>
                <td mat-cell *matCellDef="let element"> {{element.booked_on}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="totalBookingCost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fare </th>
                <td mat-cell *matCellDef="let element"> {{element.totalBookingCost}} </td>
              </ng-container>

              <ng-container matColumnDef="driver">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver </th>
                <td mat-cell *matCellDef="let element"> {{element.driver}} </td>
              </ng-container>

              <!-- transaction -->
              <ng-container matColumnDef="transaction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button class="nav-link" (click)="timeline(element)" matTooltip="View Timeline">
                    <mat-icon class="example-icon">timeline</mat-icon>
                  </button>
                  <button mat-button class="nav-link" matTooltip={{element.toolTip}} (click)="addNewInvoiceTabWithElement(element)">
                    <mat-icon class="example-icon">{{element.buttonType}}</mat-icon>
                  </button>
                  <button mat-button class="nav-link" (click)="viewInvoice(element.invoiceNumber)" matTooltip="View Invoice">
                    <mat-icon class="example-icon">attachment</mat-icon>
                  </button>
                </td>
              </ng-container>            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)" (dblclick)="addTab(row)">
              </tr>
            </table>
            <!--(click)="selection.toggle(row)"-->
          <mat-paginator class="art-boxshadow" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
          <mat-toolbar style="position:relative;z-index:0;width:60%;height:56px;margin-top:-56px;margin-left:10px;background-color:#fff;">
          
              <button mat-button [matMenuTriggerFor]="actions">Actions<mat-icon class="example-icon">arrow_drop_down</mat-icon></button>

              <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="createInvoiceDirectly()">View More Details</button>
                <button mat-menu-item >Cancel Ride</button>
              </mat-menu>              
            </mat-toolbar>
      </div>
    </div>
</div>

<!--
  https://blog.angular-university.io/angular-material-data-table/
  https://github.com/angular/material2/tree/master/src/material-examples/paginator-configurable
-->