table {
  width: 100%;
}
.mat-row{
background-color: white;
}
.mat-row:hover {
background-color: rgba(0,0,0,.03);
}
.art-boxshadow{
box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.art-pad30{
padding: 10px 30px 10px 30px;
}