<div class="mat-elevation-z6">
  <mat-toolbar style="height: auto!important">
      <button mat-button class="nav-link" routerLink="/dashboard">Dashboard</button>

      <button mat-button [matMenuTriggerFor]="dataexplorer">Operations <mat-icon>arrow_drop_down</mat-icon></button>

      <mat-menu #dataexplorer="matMenu" >
        <span *ngIf="role=='Customer';">
          <button class="nav-link" routerLink="/bookRide" mat-menu-item (click)="hideMenu()"><mat-icon>local_taxi</mat-icon>Book a Ride</button>
          <button class="nav-link" routerLink="/allRides" mat-menu-item (click)="hideMenu()"><mat-icon>remove_red_eye</mat-icon>View Rides</button>
        </span>
        <span *ngIf="role=='Admin';">
          <button class="nav-link" routerLink="/allRides" mat-menu-item (click)="hideMenu()"><mat-icon>remove_red_eye</mat-icon>View Rides</button>
          <button class="nav-link" routerLink="/addDrivers" mat-menu-item (click)="hideMenu()"><mat-icon>person_pin</mat-icon>Add Driver</button>        
        </span>
      </mat-menu>
    
      <button mat-button class="nav-link" routerLink="/datamanagement" (click)="hideMenu()">Data Management </button>
    
      <button mat-button [matMenuTriggerFor]="reports">Reports <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #reports="matMenu">
          <button class="nav-link" routerLink="/payment" mat-menu-item (click)="hideMenu()"><mat-icon>bar_chart</mat-icon>Adhoc Reports</button>
          <button class="nav-link" routerLink="/buyerpayment" mat-menu-item (click)="hideMenu()"><mat-icon>bubble_chart</mat-icon>Canned Reports</button>        
      </mat-menu>
    
      <button mat-button [matMenuTriggerFor]="admin">Help <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #admin="matMenu">
          <button class="nav-link" routerLink="/payment" mat-menu-item (click)="hideMenu()"><mat-icon>help</mat-icon>Help</button>
          <button class="nav-link" routerLink="/buyerpayment" mat-menu-item (click)="hideMenu()"><mat-icon>settings_application</mat-icon>Settings</button>        
      </mat-menu>
    
    </mat-toolbar>
  </div>